In [ ]:
# !pip install pdfminer.six
# !pip install spacy 
# !python3 -m spacy download en_core_web_sm

In [63]:

import re
import spacy
import glob
from pdfminer.high_level import extract_text
from pdfminer.layout import LAParams

# 设置extract_text()的参数，未设置部分单词会存在没有空格的情况
laparams = LAParams()
setattr(laparams, 'all_texts', True)
# 导入data目录下的所有pdf
pdfs = glob.glob("data/*.pdf")
text = ""
for pdf in pdfs:
    
    temp = extract_text(pdf, laparams=laparams)
    temp = re.sub(r"[^-a-z']+",' ',temp.lower())
    text += temp

# 清洗数据text：[todo-list]
# 1、将多余的符号、数字替换成空格
# 2、把连续的多个空格换成1个空格



# 通过spacy 还原单词原型，并统计单词的出现频次
nlp = spacy.load("en_core_web_sm")
# 默认的nlp处理的文本大小1000000,报错的话 把max_length设置大一点
nlp.max_length = 2000000
doc = nlp(text)
dicts = {}
for token in doc:
    if len(token.lemma_) > 1:
        dicts[token.lemma_] = dicts.get(token.lemma_,0)+1

# 按照词出现频次按照降序排序
# ls = list(dicts.items())
# ls.sort(key = lambda x:x[1], reverse=True)
# print(dicts)

In [64]:
from re import L
import pandas as pd
# 转置
df=pd.DataFrame([dicts]).Tlllllll
L
df=df.reset_index().rename(columns={'index':'word',0:'count'})
df[df["count"]>4].sort_values(by="count",ascending=False)

             word  count
10            the   8279
14             be   5152
2              of   4422
35             to   4275
18            and   3035
...           ...    ...
4829  nonetheless      5
3376       square      5
3377         foot      5
4797     ideology      5
9417     coworker      5

[3014 rows x 2 columns]

In [99]:

gaokao = pd.read_csv("data/gaokaowords.csv",sep=' ',usecols=[0],names=['word'])
# 使单词转成小写
gaokao["word"] = gaokao["word"].str.lower()
gaokao["isgaokao"]=1
gaokao

          word  isgaokao
0            a         1
1      abandon         1
2      ability         1
3         able         1
4     abnormal         1
...        ...       ...
3892       zip         1
3893    zipper         1
3894      zone         1
3895       zoo         1
3896      zoom         1

[3897 rows x 2 columns]

In [100]:
gaokao[gaokao["word"]=="more"]

Empty DataFrame
Columns: [word, isgaokao]
Index: []

In [97]:

d = pd.merge(df, gaokao, on="word", how="left")
# d[d["x"]!=1].sort_values(by="count",ascending=False)[100:160]
dd = d[(d["isGaokao"]!=1)&(d["count"]>2)].sort_values(by="count",ascending=False)
dd.head(30)

                   word  count   x
301                more    617 NaN
809                  's    551 NaN
138                  an    518 NaN
153                 com    412 NaN
152   burningvocabulary    407 NaN
865              should    371 NaN
873              accord    170 NaN
446                less    151 NaN
507               think    147 NaN
610                know    123 NaN
554                mean    118 NaN
576            economic    101 NaN
1083         researcher     83 NaN
2683            federal     79 NaN
218               issue     76 NaN
807            consumer     68 NaN
592             economy     65 NaN
727             program     64 NaN
77                begin     63 NaN
1396              datum     62 NaN
586           financial     58 NaN
1927               sign     58 NaN
182               offer     58 NaN
400                  th     56 NaN
1726         individual     55 NaN
537           americans     55 NaN
290           community     54 NaN
466              online     54 NaN
52              involve     54 NaN
553                  re     52 NaN